#wrapper {
    width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
    width: 262px;
    height: 327px;
    background: white;
    margin: 26px; 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}

.card:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }

  .card .top {
    height: 80%;
    width: 100%;
    background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg)
      no-repeat center center;
    background-size: cover;
  }

  .deleteicon{
    top: -128%;
    position: absolute;
    left: 1410%;
  }